<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>LOGIN USUARIO</h1>
    <form method="POST" action="/api/users/login">
        <label for="email">Email</label>
        <input type="email" name="email" required>
        <label for="password">Password</label>
        <input type="password" name="password" required>
        <button type="submit">Login</button>
    </form>
    <hr>

    <h3> SINO ESTAS REGISTRADO, HAZLO AQUI !</h3>
    <form method="POST" action="/api/users/register">

        <label for="first_name">FIRST_NAME</label>
        <input type="text" name="first_name" required>

        <label for="last_name">LAST_NAME</label>
        <input type="text" name="last_name" required>

        <label for="email">Email</label>
        <input type="email" name="email" required>

        <label for="age">AGE</label>
        <input type="number" name="age" required>

        <label for="password">Password</label>
        <input type="password" name="password" required>

        <label for="role">ROLE</label>
        <select name="role" required>
            <option value="user">user</option>
            <option value="admin">admin</option>
        </select>
        <button type="submit">REGISTER</button>
    </form>
    <hr>

    <h3> REVISA TODOS LOS PRODUCTOS AQUI!</h3>
    <form method="GET" action="/api/products">
        <button type="submit">REVISAR TODOS LOS PRODUCTOS</button>
    </form>


    <hr>
    <hr>
    <div>
        <h1>Pregunta lo que quieras en nuestro chat (Solo para usuarios logueados)</h1>
        <form method="post" action="/api/message/send" >
            <input type="text" name="message" placeholder="Escribe tu mensaje">
            <button type="submit">Enviar</button>
        </form>
    </div>




</body>
</html>